
html {
   box-sizing: border-box;
}
body {
   max-width: 100%;
}
*,
*:before,
*:after {
   box-sizing: inherit;
}
.column {
   float: left;
   width: 33%;
   margin-bottom: 16px;
   padding: 2px 10px;
}
@media screen and (max-width: 670px) {
   .column {
       width: 100%;
       text-align: none;
   }
}
    
.card {
   background-color: rgb(199, 199, 199);
}
     
.container {
   padding: 0 16px;
}
.fa {
   margin: 10px;
   font-size:68px;
}
     
.fa:hover {
   transform: rotateY(180deg);
   transition: transform 0.8s;
}
     
.container::after,
.row::after {
   content: "";
   clear: both;
   display: table;
}
.button {
   border: none;
   padding: 8px;
   color: white;
   background-color: #424242;
   text-align: center;
   cursor: pointer;
   width: 100%;
   margin-bottom: 10px;
}
.button:hover {
   background-color: #000000;
}
#gfg {
   float: none;
   margin: auto;
}